.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(80, 75, 75);
}

.App-link {
  color: #2c8ba5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* width */
/* ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  } */
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    background: #303030; 
  } */
   
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    background: rgb(106, 104, 124); 
  } */
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } */
